body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
}

.layout {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  height: calc(100vh - 60px);
  overflow: hidden;
  height: auto;
}

.left-panel, .right-panel {
  background: rgba(0, 0, 0, 0.45);
  padding: 20px;
  overflow-y: auto;
}
.buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

  .button {
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid rgba(11, 82, 80, 0.933);
    background-color: rgba(11, 82, 80, 0.933);
    opacity: 0.8;
  }
  .tree-grid {
margin-bottom :12px; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .tree-item{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    padding: 0 15px 20px 15px;
    display: grid;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
  }
  .tree-item.bg-option.selected{
    border-color: #5cb85c;
    box-shadow: 0 8px 18px rgba(92, 184, 92, 0.12, green, blue, alpha);
  }
  .tree-item img{
    width: 100%;
    height: 84px;
    object-fit: contain;
  }
  .main-tree {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-height: 92%;
max-width: 78%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    position: absolute;
  }
.toys-grid {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.tree-area{
  display: block;
  border-radius: 10px;
  min-height: 560px;
  padding: 10px;
position: relative;
background-position: center bottom;
overflow: hidden;
}
.toy-on-tree {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;  
  z-index: 5;            
}
.garland-on-tree {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  z-index: 4;
  animation: blink 1.6s infinite ease-in-out;
}
@keyframes blink {
0%   { opacity: 1; }
50%  { opacity: 0.3; }
100% { opacity: 1; }
}
.backround-options {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 8px;
  margin-bottom: 12px;
}
.bg-option {
width: 46px;
height: 46px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.3);
background-size: cover;
background-position: center;
cursor: pointer;
border: 2px solid rgba(255, 255, 255, 0.06);
}
.bg-option.selected {
  border: 2px sold #5dc0de;
  box-shadow: 0 0 6px 12px rgba(91, 192, 222, 0.12);
}
.bf-option:hover {
  border-color: #fff;
}
/*.main-tree {
  max-height: 90%;
  max-width: 80%;
  object-fit: contain;
}
